{{- $jsAppearance := resources.Get "js/appearance.js" }}
{{- $jsAppearance = $jsAppearance | resources.ExecuteAsTemplate "js/appearance.js" . | resources.Minify |
resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $jsAppearance.RelPermalink }}"
  integrity="{{ $jsAppearance.Data.Integrity }}"></script>

{{- $assets := newScratch }}

{{- $jsFuse := resources.Get "lib/fuse/fuse.min.js" }}
{{- $jsSearch := resources.Get "js/search.js" }}
{{- $assets.Add "js" (slice $jsFuse $jsSearch) }}

{{- with ($assets.Get "js") }}
{{- $bundleJS := . | resources.Concat "js/main.bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script defer type="text/javascript" id="script-bundle" src="{{ $bundleJS.RelPermalink }}"
  integrity="{{ $bundleJS.Data.Integrity }}" data-copy="{{ i18n `code.copy` }}" data-copied="{{ i18n `code.copied` }}">
  </script>
{{- end }}