<!DOCTYPE html>
<html lang="{{- .Site.Params.isoCode | default (.Site.LanguageCode | default `en`) -}}"
  dir="{{- if .Site.Params.rtl | default false -}}rtl{{- else -}}ltr{{- end -}}" class="scroll-smooth"
  data-default-appearance="{{ .Site.Params.defaultAppearance | default `dark` }}"
  data-auto-appearance="{{ .Site.Params.autoSwitchAppearance | default `true` }}">

<head>
  {{- partial "head.html" . -}}
</head>

<body id="top" class="relative flex flex-col bg-neutral text-neutral-900 dark:bg-neutral-900 dark:text-neutral">
  <!-- background -->
  {{- with resources.Get (print "img/" .Site.Params.background ".svg") }}
  <div class="fixed top-0 bottom-0 left-0 right-0 animate-[fadeIn_1s_ease-in-out]" style="z-index: -1;">
    <img src="{{ .RelPermalink }}" class="w-full h-full object-cover">
  </div>
  {{- end }}
  <!-- header -->
  <div class="sticky top-0 bg-neutral/70 text-neutral-900 dark:bg-neutral-900/70 dark:text-neutral" style="z-index: 100;">
    <div class="mx-6">
      {{ partial (print "partials/header/" .Site.Params.header ".html") . }}
    </div>
  </div>
  <!-- main -->
  <main id="main-content" class="min-h-[calc(100vh-7rem)]">
    {{- block "main" . }}{{ end }}
  </main>
  <!-- footer -->
  <div class="bg-neutral/70 text-neutral-900 dark:bg-neutral-900/70 dark:text-neutral">
    <div class="mx-6 my-2">
      {{- partial "footer.html" . -}}
      {{ if .Site.Params.enableSearch | default false }}
      {{- partial "search.html" . -}}
      {{ end }}
    </div>
  </div>
  <!-- scroll to top -->
  {{/*  <div class="absolute top-[110vh] bottom-12 w-12 right-12">
    <div class="sticky top-[calc(100vh - 3rem)] flex items-center justify-center space-x-7">
      <a href="#top"
      class="animate-bounce p-2 w-12 h-12 ring-1 ring-slate-900/5 dark:ring-slate-200/20 shadow-lg rounded-full text-base hover:text-primary-600 dark:hover:text-primary-400">
      {{ with resources.Get (print "icons/" "arrow-up" ".svg") }}
      {{ .Content | safeHTML }}
      {{ end }}
    </a>
    </div>
  </div>  */}}
</body>

</html>