<!DOCTYPE html>
<html lang="{{- .Site.Params.isoCode | default (.Site.LanguageCode | default `en`) -}}"
  dir="{{- if .Site.Params.rtl | default false -}}rtl{{- else -}}ltr{{- end -}}" class="scroll-smooth"
  data-default-appearance="{{ .Site.Params.defaultAppearance | default `dark` }}"
  data-auto-appearance="{{ .Site.Params.autoSwitchAppearance | default `true` }}">

<head>
  {{- partial "head.html" . -}}
</head>

<body id="top" class="relative flex flex-col bg-neutral text-neutral-900 dark:bg-neutral-900 dark:text-neutral">
  <!-- background -->
  {{- with resources.Get (print "img/" .Site.Params.background ".svg") }}
  <div class="fixed top-0 bottom-0 left-0 right-0 animate-[fadeIn_1s_ease-in-out]" style="z-index: -1;">
    <img src="{{ .RelPermalink }}" class="w-full h-full object-cover">
  </div>
  {{- end }}
  <!-- header -->
  <div class="sticky top-0 bg-neutral/70 text-neutral-900 dark:bg-neutral-900/70 dark:text-neutral"
    style="z-index: 100;">
    <div class="mx-6">
      {{ partial (print "partials/header/" .Site.Params.header ".html") . }}
    </div>
  </div>
  <!-- main -->
  <main id="main-content" class="min-h-[calc(100vh-7rem)]">
    {{- block "main" . }}{{ end }}
  </main>
  <!-- footer -->
  <div class="bg-neutral/70 text-neutral-900 dark:bg-neutral-900/70 dark:text-neutral">
    <div class="mx-6 my-2">
      {{- partial "footer.html" . -}}
      {{ if .Site.Params.enableSearch | default false }}
      {{- partial "search.html" . -}}
      {{ end }}
    </div>
  </div>
</body>

</html>