{{- define "main" }}
<div class="bg-neutral-900 text-neutral-200 min-h-[inherit]">
  {{- $images := .Resources.ByType "image" }}
  {{- $featured := $images.GetMatch "*feature*" }}
  {{- if not $featured }}
  {{- $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}
  {{- end }}
  {{- if and .Params.featureimage (not $featured) }}
  {{- $featured = $images.GetMatch .Params.featureimage }}
  {{- end }}
  {{- if and .Params.featureimage (not $featured) }}
  {{- $url:= .Params.featureimage }}
  {{- $featured = resources.GetRemote $url }}
  {{- end }}
  {{- if not $featured }}
  {{- with .Site.Params.defaultFeaturedImage }}
  {{- $featured = resources.Get . }}
  {{- end }}
  {{- end }}
  {{- with $featured }}
  <meta property="og:image" content="{{ .RelPermalink }}" />
  <img class="hidden" src="{{ .RelPermalink }}" />
  {{- end }}
  <div class="grid grid-cols-2 md:grid-cols-4">
    <div class="hidden md:block mx-8">
      <div class="flex flex-col sticky top-[8.4rem]">
        <!-- series -->
        <div class="toc print:hidden">
          {{ partial "series/series.html" . }}
        </div>
      </div>
    </div>
    <div class="col-span-2 prose prose-invert py-20 max-w-fit">
      <!-- title -->
      <h1 class="font-normal">{{ .Title }}</h1>
      <!-- meta -->
      <div class="text-sm mb-6">
        {{ partial "article-meta/basic.html" . }}
      </div>
      <!-- content -->
      {{ .Content }}
    </div>
    <div class="hidden md:block mx-8">
      <div class="flex flex-col sticky top-[8.4rem]">
        <!-- toc -->
        {{- if not (default false .Params.hideToc) }}
        <div class="toc print:hidden">
          {{ partial "toc.html" . }}
        </div>
        {{- end }}
      </div>
      <!-- scroll to top -->
      <div class="absolute top-[110vh] bottom-[4rem] w-12 mx-auto overflow-y-clip">
        <div class="sticky top-[calc(100vh-5rem)] pb-1 flex items-center justify-center space-x-7">
          <a href="#top"
            class="p-2 w-12 h-12 ring-1 ring-slate-900/5 dark:ring-slate-200/20 shadow-lg rounded-full text-base hover:text-primary-600 dark:hover:text-primary-400">
            {{ with resources.Get (print "icons/" "arrow-up" ".svg") }}
            {{ .Content | safeHTML }}
            {{ end }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{- end }}