<details open class="toc-right mt-0 overflow-hidden">
  <summary class="block py-1 text-lg font-semibold cursor-pointer text-neutral-100">
    {{ i18n "article.table_of_contents" }}
  </summary>
  <div class="py-1 border-dotted border-l pl-5 border-neutral-600">
    {{ .TableOfContents | emojify }}
  </div>
</details>

<script>
  (function () {
    var $toc = $('#TableOfContents');
    console.log($toc);
    if ($toc.length > 0) {
      var $window = $(window);
      function onScroll() {
        var currentScroll = $window.scrollTop();
        var h = $('.anchor');
        var id = "";
        console.log(h);
        h.each(function (i, e) {
          e = $(e);
          if (e.offset().top - $(window).height() / 3 <= currentScroll) {
            id = e.attr('id');
          }
        });
        var active = $toc.find('a.active');
        if (active.length == 1 && active.eq(0).attr('href') == '#' + id) return true;
        active.each(function (i, e) {
          $(e).removeClass('active');
        });
        $toc.find('a[href="#' + id + '"]').addClass('active')
      }
      $window.on('scroll', onScroll);
    }
  })();
</script>