<div id="join" class="flex items-center bg-neutral-900 text-neutral-200 min-h-screen">
  <div class="flex flex-col container mx-auto">
    <div class="flex space-x-7 py-5">
      {{- partial "title/section.html" "Would you like to join ?" }}
    </div>
    <div class="flex justify-between items-center px-12 gap-12">
      <div>
        <p class="text-lg leading-relaxed">
          Fence is a community driven initiative.
          <br>
          Every one is welcome to engage in the community to share and help each other.
          <br>
          <br>
          Let's get in touch if you want to participate in a podcast or write a blog post.
          <br>
          In any case, if there's anything you would like to contribute to the community we definitely want to hear
          from
          you!
          <br>
          <br>
          See you soon ❤️ !
        </p>
      </div>
      <div class="block">
        <a href="https://github.com/fence-io/website" class="flex items-center icon space-x-2">
          {{- partial "icon.html" "github" }}
          <span>Fence website on <strong>GitHub</strong></span>
        </a>
        <a href="https://groups.google.com/g/fence-community" class="flex items-center icon space-x-2">
          {{- partial "icon.html" "google" }}
          <span>Fence community <strong>Google</strong> group</span>
        </a>
      </div>
    </div>
  </div>
</div>