<div id="what" class="flex items-center bg-neutral-900 text-neutral-200 min-h-screen">
  <div class="flex flex-col container mx-auto">
    <div class="flex justify-between py-5">
      <p class="text-5xl pb-11  font-light text-neutral-400">{{ "What do we do ? :thinking:" | markdownify | emojify }}</p>
      {{- partial "home/button/scroll-down.html" "#who" }}
    </div>
    <ul class="flex flex-wrap gap-7 leading-8 px-12">
      <li class="grow flex basis-5/12 gap-4">
        <div class="shrink-0 p-2 rounded-full h-9 w-9 bg-neutral-600">
          {{- partial "icon.html" "newspaper" }}
        </div>
        <div class="grow">
          <h2 class="text-2xl text-neutral-600 font-light">Test and review policy engines</h2>
          <p>
            Navigating through all available technologies is not easy.
            Picking up the best policy engine for a given use case can take quite some research.
            We deeply test and review various policy engines, helping making the decision.
          </p>
        </div>
      </li>
      <li class="flex grow basis-5/12 gap-4">
        <div class="shrink-0 p-2 rounded-full h-9 w-9 bg-neutral-600">
          {{- partial "icon.html" "newspaper" }}
        </div>
        <div class="grow">
          <h2 class="text-2xl text-neutral-600 font-light">Compare and publish analysis</h2>
          <p>
            Tested and reviewed technologies and products are aggregated together.
            We provide comparison charts across different aspects to help determining which tools do and
            how.
          </p>
        </div>
      </li>
      <li class="flex grow basis-5/12 gap-4">
        <div class="shrink-0 p-2 rounded-full h-9 w-9 bg-neutral-600">
          {{- partial "icon.html" "newspaper" }}
        </div>
        <div class="grow">
          <h2 class="text-2xl text-neutral-600 font-light">Record podcasts regularly</h2>
          <p>
            As a community we want to help showcasing policy engines in a non opinionated way.
            Recording podcasts with guests regularly offers an opportunity to discuss and discover more
            tools and
            technologies.
          </p>
        </div>
      </li>
      <li class="flex grow basis-5/12 gap-4">
        <div class="shrink-0 p-2 rounded-full h-9 w-9 bg-neutral-600">
          {{- partial "icon.html" "newspaper" }}
        </div>
        <div class="grow">
          <h2 class="text-2xl text-neutral-600 font-light">Provide hands-on tutorials</h2>
          <p>
            Our roots live in the tech world.
            We absolutely need to get our hands dirty.
            Sharing our experiments in the form of hands-on tutorials is part of our mission.
          </p>
        </div>
      </li>
      <li class="flex grow basis-5/12 gap-4">
        <div class="shrink-0 p-2 rounded-full h-9 w-9 bg-neutral-600">
          {{- partial "icon.html" "newspaper" }}
        </div>
        <div class="grow">
          <h2 class="text-2xl text-neutral-600 font-light">Build a community</h2>
          <p>
            What else ?
          </p>
        </div>
      </li>
      <li class="flex grow basis-5/12 gap-4">
        <div class="shrink-0 p-2 rounded-full h-9 w-9 bg-neutral-600">
          {{- partial "icon.html" "newspaper" }}
        </div>
        <div class="grow">
          <h2 class="text-2xl text-neutral-600 font-light">Work collaboratively and in the open</h2>
          <p>
            This is our mindset, all voices matter and we are stronger together.
            Let's join forces and listen to each other.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>