<div class="main-menu flex items-center justify-between">
    <!-- logo -->
    {{- with .Site.Params.Logo }}
    {{- with resources.Get . }}
    <a href="{{ "" | relLangURL }}" class="flex w-8 h-8 my-3 drop-shadow-[0_0_0.75rem_crimson]">
        {{ .Content | safeHTML }}
    </a>
    {{- end }}
    {{- end }}
    <!-- name -->
    <nav class="flex-1">
        {{- if not .Site.Params.disableTextInHeader | default false -}}
        <a href="{{ "" | relLangURL }}" class="text-xl font-bold pl-6">
            {{- .Site.Title | markdownify | emojify -}}
        </a>
        {{- end -}}
    </nav>
    <nav class="flex items-center space-x-5">
        <!-- nav menu -->
        {{- with .Site.Menus.nav }}
        {{- range . }}
        {{- partial "header/header-option.html" . }}
        {{- end }}
        {{- partial "icon.html" "ellipsis-vertical" }}
        {{- end }}
        <!-- social menu -->
        {{- with .Site.Menus.social }}
        {{- range . }}
        {{- partial "header/header-option.html" . }}
        {{- end }}
        {{- partial "icon.html" "ellipsis-vertical" }}
        {{- end }}
        <!-- search -->
        {{- if .Site.Params.enableSearch | default false }}
        <button id="search-button" aria-label="Search"
            class="text-base hover:text-primary-600 dark:hover:text-primary-400"
            title="{{- i18n `search.open_button_title` }}">
            {{- partial "icon.html" "search" }}
        </button>
        {{- end }}
        <!-- dark/light switcher -->
        {{- if .Site.Params.showAppearanceSwitcher | default false }}
        <div class="flex items-center">
            <button id="appearance-switcher" aria-label="Dark mode switcher" type="button"
                class="text-base hover:text-primary-600 dark:hover:text-primary-400">
                <div class="flex items-center justify-center dark:hidden">
                    {{- partial "icon.html" "moon" }}
                </div>
                <div class="items-center justify-center hidden dark:flex">
                    {{- partial "icon.html" "sun" }}
                </div>
            </button>
        </div>
        {{- end }}
    </nav>
</div>

{{- if .Site.Params.highlightCurrentMenuArea -}}
<script>
    (function () {
        var $mainmenu = $('.main-menu');
        $mainmenu.find(`a[href="${window.location.pathname}"]`).each(function (i, e) {
            $(e).children('p').addClass('active');
        });
    })();
</script>
{{- end -}}